language: go
install:
- go get -v github.com/spf13/hugo
- npm install -g bower
- bower install
- pip install --user awscli
script:
- hugo version
- make deploy
branches:
  only:
  - master
env:
  global:
  - secure: gn0E4CqbzGiH8xfq9F48sKEmyZY2dlU7JcNlAx2v7tUYs4e+/QrjvbzVbkGyZ1CLIO3P2A7nUNupcL0MaRdHdgNHcwsVDAkd0TgNVr0A5s9E651RQeMSmDN41afzvr6l5yL3VVi6f3rS5riUyQgX6PiDVixJt8xennVn2/DREPU=
  - secure: SYAgom04ey0MljXhKICSDJNcuFVpOYWl1hUftW3TLYT1zAYi/+IWGE3VrOXgC1yC4Ryih4PgROLjo0GBAraEXjRhvyKTfFvhOP6/Zdv8Ezrg6SD7q5Ram9c26OSGCALNHWIA3z3FtAc/CGkjo0kQ2qHNsslHqKRNbksNxcYcyFI=
