<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="container">
      <div class="row">
        <main>
          <article>
            <header>
              <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            <section class="subscribe">
              <p>
                PS:
                If you read this far, you might want to follow me on
                <a href="https://twitter.com/rdegges" hreflang="{{ .Site.LanguageCode }}" title="Randall Degges on Twitter" type="text/html">twitter</a> and
                <a href="https://github.com/rdegges" hreflang="{{ .Site.LanguageCode }}" title="Randall Degges on Github" type="text/html">github</a>,
                or subscribe below for updates (<i>I'll email you new essays when I publish them</i>).
              </p>
              {{ partial "mailchimp-subscribe.html" . }}
            </section>
          </article>
        </main>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "footer-includes.html" . }}
  </body>
</html>
