<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="index">
    {{ partial "header.html" . }}
    <div class="container">
      <div class="row">
        <section class="intro">
          <div class="col-xs-offset-3 col-xs-6">
            <img alt="Randall Degges - Avatar" class="center-block img-rounded img-responsive" src="{{ "/static/theme/images/avatar.png" | absURL }}">
          </div>
        </section>
      </div>
      <div class="row">
        <div class="jumbotron col-xs-offset-2 col-xs-8">
          <p>
            Hey, I'm Randall. I'm just a happy programmer that likes to hack
            stuff.
          </p>
          <div class="hidden-xs">
            {{ partial "mailchimp-subscribe.html" . }}
          </div>
        </div>
      </div>
      <div class="row">
        <main class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <ul>
            {{ range .Data.Pages }}
              <time class="visible-xs visible-sm visible-md" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time>
              <li><a href="{{ .Permalink }}" hreflang="{{ $.Site.LanguageCode }}" media="all" title="{{ .LinkTitle }}" type="text/html">{{ upper .LinkTitle }}</a> <time class="visible-lg" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time></li>
            {{ end }}
          </ul>
        </main>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "footer-includes.html" . }}
  </body>
</html>
