<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <main>
      <ul>
        {{ range .Data.Pages }}
          <li><a href="{{ .Permalink }}" hreflang="{{ $.Site.LanguageCode }}" media="all" title="{{ .LinkTitle }}" type="text/html">{{ .LinkTitle }}</a> - <time datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time></li>
        {{ end }}
      </ul>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "footer-includes.html" . }}
  </body>
</html>
