<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="container">
      <section class="archives">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>woo</p>
            <h2>Archives</h2>
            <p>test</p>
            {{ range .Data.Pages }}
              <hr>
              <time datetime="{{ dateFormat "2015-09-09" .Date }}">{{ dateFormat "2015-09-09" .Date }}</time>
              <a href="{{ .Permalink }}" hreflang="{{ .Site.LanguageCode }}" title="{{ .Title }}" type="text/html">{{ .Title }}</a>
            {{ end }}
            <hr>
          </div>
        </div>
      </section>
    </div>
    {{ partial "footer.html" . }}
  </body>
  {{ partial "footer-includes.html" . }}
</html>
